<div class="container">
    <div class="column">
      <h3>Счетчик:</h3>
      <p *ngFor="let count of counterService.counterArray">Counter Value: {{ count }}</p>
      <div class="btn-block">
        <button (click)="startCounter()">Запустить получение данных</button>
        <button *ngIf="stopButton" (click)="stopSubs()">Остановить поток данных</button>
      </div>
    </div>
    <div class="column">
      <h3>Рандомные числа:</h3>
      <p *ngFor="let randomValue of randomValues">{{ randomValue }}</p>
      <div class="btn-block">
        <button (click)="startRandomNumbers()">Генерировать случайные числа</button>
        <button *ngIf="stopRandomButton" (click)="stopRandomNumbers()">Остановить генерацию</button>
      </div>
      
    </div>
  </div>
  