<div class="card" style="width: 18rem;">
    <img src="../../assets/1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h4 class="card-title">{{ dataService.role === 'admin' ? 'Данные доступны' : 'Данные не доступны' }}</h4>
      <p class="card-text">
        {{ dataService.role === 'admin' ? 'Кликните на кнопку для просмотра данных.' : '' }}
      </p>
      <a routerLink="/users/1" class="btn btn-primary ">{{dataService.role === 'admin' ? 'Посмотреть данные' : 'Доступ запрещен'}} </a>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  